<div class="bg-white shadow border-bottom">
  <div class="title d-flex align-items-center py-3">
       <div class="col-2 col-md-4">
           <a class="toggle" aria-controls="hc-nav-1">
               <span></span>
           </a>
       </div>
     <div class="logo-main col-7 col-md-4  px-0 d-flex align-items-center justify-content-center">
        <a routerLink="/"><img class="logo main-logo" src="assets/img/logo-hts.jpeg"></a>
    </div>
     <div class="font-weight-bold ss-contact-head pr-0 col-3 col-md-4">
        <div class="text-white font-weight-bold">
           <a class="text-white" href="#"><img src="assets/img/phone-call.svg" class="text-white"></a>
           <a class="text-white" href="https://www.facebook.com/Hotel-krishna-106071928574402/"><img src="assets/img/facebook.svg" class="text-white"></a>
           <a class="text-white" href="https://www.facebook.com/Hotel-krishna-106071928574402/"><img src="assets/img/instagram.svg" class="text-white"></a>
        </div>
     </div>
  </div>
</div>

<nav id="main-nav">
  <ul class="second-nav">
     <li><a routerLink="/"><i class="feather-home mr-2"></i> Home</a></li>
                    <li><a > <i class="feather-edit mr-2"></i> Login / Register</a></li>
                 <li><a ><i class="feather-grid mr-2"></i> Party Orders </a></li>
     <li><a > <i class="feather-book-open mr-2"></i> Read Feedback</a></li>
     <li><a  > <i class="feather-user mr-2"></i> Share Feedback</a></li>

      <li><a routerLink="/"><i class="feather-info mr-2"></i> About Us</a></li>
     <li><a routerLink="/contact-us"> <i class="feather-phone mr-2"></i> Contact Us</a></li>
     <li><a routerLink="/"> <i class="feather-align-left mr-2"></i> Privacy Policy</a></li>
     <li><a routerLink="/"> <i class="feather-list mr-2"></i> Terms & Conditions</a></li>
              </ul>
  <ul class="bottom-nav">
     <li class="email">
        <a class="" href="index.html">
           <p class="h5 m-0"><i class="feather-home text-danger"></i></p>
           Home
        </a>
     </li>
     <li class="github">
        <a href="aboutus.html">
           <p class="h5 m-0"><i class="feather-message-circle"></i></p>
           About Us
        </a>
     </li>
     <li class="ko-fi">
        <a href="contactus.html">
           <p class="h5 m-0"><i class="feather-phone"></i></p>
           Help
        </a>
     </li>
  </ul>
</nav>
