<app-header></app-header>
<div class="osahan-checkout mb-5" style="min-height: 100vh;">
  <div class="px-3 pt-3 pb-1">
    <h2 class="font-weight-bold m-0 pt-1 cart-resize with-title pb-2">Booking Details</h2>
  </div>
  <div class="osahan-payment cart-resize">
    <div class="row">
      <div class="col-lg-8 ">
        <div class="card bg-white rounded shadow p-3" >
          <div class="card-body">
            <h5 class="card-title mb-4">Thank you for booking.</h5>
            <h6 class="card-subtitle mb-2 text-muted">Your ordered room is booked for the selected date and time.</h6>
            <p class="card-text">Call us on given number for any queries. Thank you!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card bg-white rounded shadow p-3" >
          <div class="card-body px-0">
            <h5 class="card-title">Booking Summary</h5>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">Items (03)</h6>
            <div class="row">
              <div class="col-8 py-2">Deluxe Room
                <br>  <span class="small">2 Adults</span>
              </div>
              <div class="col-4 py-2 text-right">₹. 999 /-</div>

              <div class="col-8 py-2">Family Room
                <br><span class="small">2 Adults + 2 childrens</span>
              </div>
              <div class="col-4 py-2 text-right">₹. 2499 /-</div>

              <div class="col-8 py-2">Suite Room
                <br><span class="small">2 Adults + 2 childrens</span>
              </div>
              <div class="col-4 py-2 text-right">₹. 2499 /-</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-8">Sub Total</div>
              <div class="col-4 text-right">₹. 7489 /-</div>
              <div class="col-8">Internet Handle charge</div>
              <div class="col-4 text-right">₹. 100 /-</div>
            </div>
            <h6 class="card-subtitle mb-2 mt-3">Grand Total : ₹. 7589 /-</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
